.super-containers{
    height: 100dvh;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.267);
    backdrop-filter: blur(100px);
}
.super-containers, .containering112{
    display: flex;
    align-items: center;
    display: none;
}
.containering112{
    --h: 50px;
    height: var(--h);
    width: 200px;
    justify-content: space-around;
}
.containering112 .load{
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    animation: rotat 1s infinite linear;
    background: var(--colo);
}
@keyframes rotat{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(90deg);
    }
}